.navbar {
  display: flex;
  justify-content: space-around;
  background-color: darkblue;
  color: white;
}

.navDiv {
  position: relative;
}

.itemsDiv {
  background-color: white;
  color: black;
  width: 20px;
  text-align: center;
  border-radius: 50%;
}

.itemsIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
